@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5, 0.5);
    }
    to {
        transform: scale(1,1);
    }
}

@keyframes slideToBottom {
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideToTop {
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(-20px);
        opacity: 0;
    }
}